/* This is a CSS file */

body { 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #404040;
    background-color: ghostwhite;
    margin: 10px;
    padding: 10px;
    }

header, footer { 
    width: 1000px;
    background-color: lavender;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }

ul li { 
        list-style-type: square;
        background: lavender;
    }

ul li:nth-child(odd) {
        background:rgb(252, 212, 212);    
    }
    
.name {
        color: rgb(52, 39, 172);
    }

.site-title {
    color:rgb(44, 123, 196)
    }

#my-image{
    box-shadow: 0px 0px 2px 1px #000000;
    width: 800px;  
    }

nav a:link, a:visited {
    background-color: rgb(250, 135, 135);
    border: 2px solid rgb(138, 39, 39);
    color: rgba(0, 0, 0, 0.658);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 1px 1px 3px #000000;
    border-radius: 10px;
    }
  
nav a:hover, a:active {
    background-color: rgb(42, 212, 212);
    border: 2px solid rgb(163, 240, 201);
    color:rgb(1, 94, 94);
    }
